.faq{
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &-h2{
        position: absolute;
        top: 3300px;
        margin-left: -900px;
        font-family: 'advent pro';
        font-size: 45px;
    }

    &-div1{
        position: absolute;
        top: 3430px;
        width: 600px;
        background-color: whitesmoke;
        margin-left: -360px;
        border-radius: 10px;
    }

    &-1{
        margin-top: 15px;
        margin-left: 20px;
    }

    &-p1{
        margin-left: 150px;
        margin-top: -25px;
        font-family: 'advent pro';
    }

    &-div2{
        position: absolute;
        width: 600px;
        background-color: whitesmoke;
        border-radius: 10px;
        margin-top: 20px;
    }

    &-div3{
        position: absolute;
        width: 600px;
        background-color: whitesmoke;
        border-radius: 10px;
        margin-top: 20px;
    }

     &-div4{
        position: absolute;
        width: 600px;
        background-color: whitesmoke;
        border-radius: 10px;
        margin-top: 20px;
    }

    &-div5{
        position: absolute;
        top: -150px;
        margin-left: 620px;
        width:350px ;
        height: 280px;
        background-color: #1877f2;
        border-radius: 10px;
    }

    &-p2{
        color: white;
        white-space-collapse: break-spaces;
        margin-left: 20px;
        margin-top: 100px;
        font-family: 'advent pro';
        font-size: 25px;
    }
}
