.geo{
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &-uzb{
        position: absolute;
        width: 350px;
        height: 250px;
       top: 1650px;
       left: -470px;
    }

    &-tosh{
        position: absolute;
        top: 1650px;
        margin-left: 250px;
        font-family: 'advent pro';
        font-size: 40px;
    }

    &-p1{
        position: absolute;
        white-space-collapse: break-spaces;
        font-family: 'advent pro';
        top: 1800px;
        left: -60px;
    }

    &-btn{
        width: 150px;
        height: 50px;
        position:absolute;
        top: 1950px;
        margin-left: 5px;
        background-color: #1877f2;
        color: white;
        border: none;
        font-family: 'advent pro';
        border-radius: 20px;
        transition: all 0.4s linear;
    }
}

.geo-btn:hover{
    background-color: black;
    color: white;
}